@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: url("./images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Verdana', sans-serif;
}

/* Styles pour la barre de navigation */
.navbar {
    width: 100%;
    background-color: #1f98cf;
    /* Bleu foncé */
    color: white;
    /* Ajout de padding pour éviter le décalage */
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 5px;
    position: sticky;
    top: 0px;
    /* Inclure le padding dans la largeur totale */
}

.nav-links {
    list-style: none;
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: start; /* Alignement vertical au centre */
    justify-content: space-around;
    margin-top: 0px;


}

@media (max-width: 660px)
{
    .nav-links {
        flex-direction: column;
        align-items: center; /* Alignement vertical au centre */
        row-gap: 20px;
        padding-bottom: 10px;
        /* Alignement à droite */
    }
    .navbar {
        position: relative;
    }

}

/* Style des liens de navigation */
.nav-item {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    padding: 5px;
}

/* Style au survol */
.nav-item:hover {
    background-color: #fff;
    /* Fond blanc au survol */
    color: #38B0E3;
    /* Texte bleu foncé au survol */
}

.logonormal {
    justify-content: center;
    width : 30%
}

#pageactuelle{
    border-bottom: solid #ffffff 3px;
}

#intra{
    border-radius: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#intra:hover{
    
}

.top{
    background-color: #28b1e2;
    font-weight: 900;
    color: #fff;
    padding: 10px;
    font-family: 'Verdana', sans-serif !important;
    font-weight: 100 !important; /* ou 'bold' */
}