
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Verdana, sans-serif;
    background-color: darkslateblue;
}


a{text-decoration: none; }

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #69c9f0;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}





.navbar .e{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

.navbar .e a{
    height: 15%;
    width: 15%;
    margin-right: 18%;
}

.navbar .e a img{
    height: 100%;
    width: 100%;
}

.navbar ul li a{
    padding: 40px;
    margin: 0 10px;
}

.navbar ul li a:focus{
    color:  #1d1d1d;
}

.produit{
    color: #fff;
    font-family : "Verdana",sans-serif;
    width:100%;
    text-align: center;
    font-size: 25px;
    background: darkslateblue;
    padding:30px 40px;
    margin:0 auto;
}

.vrai_produit{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.vrai_vrai_produit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-color: #28b1e2;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #ffffff;
    font-family : "Verdana",sans-serif;
    height: 270px;
    width:250px;
    text-align: center;
    font-size: 10px;
    background: #f3f0f0;
    color : #000000;
    padding:30px 40px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin:0 auto;
}

.vrai_vrai_produit img{
    width: 90%;
    height: 90%;
}

.partie{
    margin-left: 2%;
    font-size: 20px;
    border-color: #010618;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 230px;
    border: 2px solid #132585;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.partie2{
    margin-left: 2%;
    font-size: 20px;
    border-color: #010618;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 370px;
    border: 2px solid #132585;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Style pour la boîte du pop-up */
.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Style pour le bouton de fermeture */
.close-btn {
    cursor: pointer;
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}